@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
body {
  margin: 0;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #e7e7eb;
}
img {
  width: 220px;
}
.logo {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-inline: 50px;
  margin-left: 140px;
  cursor: pointer;
}
main {
  text-align: center;
  font-family: "Outfit", sans-serif;
  padding: 60px 100px;
}

.feedback {
  text-align: center;
  display: inline-block;
  width: 100%;
}
button {
  height: 60px;
  width: 190px;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #01ffff;
  margin-top: 60px;
  border-style: none;
  cursor: pointer;
}
button:hover {
  background-color: #00ffff;
  filter: drop-shadow(0 0 25px #00ffff);
}

h1 {
  font-size: 60px;
  font-family: "outfit", sans-serif;
  margin-bottom: 0;
  line-height: 3.7rem;
  margin-bottom: 1.2rem;
  color: #e7e7eb;
}
h3 {
  font-size: 1.8rem;
  font-weight: 400;
}
.star {
  width: 66px;
  height: 50px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s;
  filter: brightness(0) saturate(100%) invert(0.9) sepia(1) hue-rotate(210deg) brightness(0);
}

.star.selected {
  opacity: 1;
  filter: drop-shadow(0 0 10px #00ffff);
}
.star:hover {
  opacity: 0.8;
}
.moreinfo {
  padding-top: 40px;
}
.lastTitle {
  padding-top: 50px;
  padding-bottom: 20px;
}
p {
  color: transparent;
}
input,
textarea {
  background: transparent;
  border: none;
  color: white;
  font-size: medium;
  outline: none;
  padding-bottom: 5px;
  width: 100%;
}

.write {
  text-align: left;
  padding-left: 20px;
  border-bottom: 2px solid #bd128a;
  width: 800px;
  display: inline-block;
}

#more {
  margin-top: 10px;
}
