@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

body {
  margin: 0;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #e7e7eb;
  background-attachment: fixed;
}

main {
  margin-left: 6.5em;
  margin-right: 6.5em;
}

/* Logo */
img {
  width: 220px;
}

.logo {
  padding-top: 50px;
  padding-bottom: 80px;
}

/* Titles */
.titles {
  padding-bottom: 50px;
}

.titles h1,
.titles h2 {
  font-family: "Outfit", sans-serif;
  font-size: 80px;
  margin-bottom: 0;
  line-height: 3.7rem;
}

h1 {
  font-weight: 400;
}

h3 {
  font-family: "Outfit", sans-serif;
  color: #c2128d;
  font-size: 30px;
  margin-bottom: 10px;
}

/* Instructions */
.instructions {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.highlighted {
  font-weight: 700;
}

ul {
  line-height: 2rem;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 30px;
}

/* Difficulties container */
.difficulties-container {
  margin-bottom: 30px;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.difficulties-container h3,
.question-length h3 {
  margin-bottom: 20px;
}

/* Buttons style */
.easy-btn,
.medium-btn,
.hard-btn,
.length-btn10,
.length-btn20,
.length-btn30 {
  display: inline-block;
  height: 60px;
  width: 190px;
  margin-right: 20px;
  font-weight: 600;
  font-size: 1.2rem;
  color: #e7e7eb;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-align: center;
  line-height: 55px;
  font-family: "Inter", sans-serif;
}

/* Hover buttons */
.easy-btn:hover,
.medium-btn:hover,
.hard-btn:hover,
.length-btn10:hover,
.length-btn20:hover,
.length-btn30:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 15px rgba(231, 69, 155, 0.7);
}

/* Difficulties buttons */
.easy-btn,
.medium-btn,
.hard-btn {
  border: 1px solid rgba(231, 69, 155, 0.3);
}

.easy-btn {
  background: linear-gradient(135deg, rgba(0, 200, 83, 0.2), rgba(0, 200, 83, 0.05));
}

.medium-btn {
  background: linear-gradient(135deg, rgba(255, 193, 7, 0.2), rgba(255, 193, 7, 0.05));
}

.hard-btn {
  background: linear-gradient(135deg, rgba(244, 67, 54, 0.2), rgba(244, 67, 54, 0.05));
}

/* Difficulties buttons selected */
.easy-btn.selected {
  border-color: #00c853;
  box-shadow: 0 0 15px rgba(0, 200, 83, 1);
}

.medium-btn.selected {
  border-color: #ffc107;
  box-shadow: 0 0 15px rgba(255, 193, 7, 1);
}

.hard-btn.selected {
  border-color: #f44336;
  box-shadow: 0 0 15px rgba(244, 67, 54, 1);
}

/* Questions length buttons */
.length-btn10,
.length-btn20,
.length-btn30 {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(135deg, #1d2145 0%, rgba(231, 69, 155, 0.25) 100%);
  border: 1px solid rgba(231, 69, 155, 0.3);
}

.length-btn10:hover,
.length-btn20:hover,
.length-btn30:hover {
  background: linear-gradient(135deg, #1d2145 0%, rgba(231, 69, 155, 0.4) 100%);
}

.length-btn10.selected2,
.length-btn20.selected2,
.length-btn30.selected2 {
  border-color: #0059ff;
  box-shadow: 0 0 15px rgb(8, 92, 247);
}

/* Hidden radio button */
input[type="radio"] {
  display: none;
}

/* Footer */
.footer {
  margin-top: 70px;
}

.checkbox-container,
.proceed {
  display: inline-block;
}

.proceed {
  text-align: right;
}

/* Proceed button */
.proceed-btn {
  margin-left: 190px;
  height: 60px;
  width: 190px;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  background-color: #01ffff;
  border: 1px solid #01ffff;
  cursor: not-allowed;
  font-family: "Inter", sans-serif;
}

.proceed-btn:hover {
  box-shadow: 0px 0px 12px 2px #01bdffbd;
}

.proceed-btn.enabled {
  cursor: pointer;
}

/* Checkbox */
#checkbox-label {
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

input[type="checkbox"] {
  font-family: "Inter", sans-serif;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid rgb(255, 255, 255);
  background-color: transparent;
  margin: 0;
  margin-right: 10px;
  vertical-align: bottom;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked::after {
  content: "✔";
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding-bottom: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
